.photo-grid {
  padding: 92px 48px 0;
  max-width: 1184px;
}

@media screen and (max-width: 970px) {
  .photo-grid {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 700px) {
  .photo-grid {
    padding: 64px 16px 0;
  }
}
