.lead {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
}

@media screen and (max-width: 1097px) {
  .lead {
    max-width: calc(100% - 48px*2);
  }
}
@media screen and (max-width: 970px) {
  .lead {
    max-width: 100%;
  }
}

