.footer__link {
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  padding: 0;
  margin: 0;
}


@media screen and (max-width: 700px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
