.footer__copyright {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .footer__copyright {
    line-height: 1;
  }
}
