.intro {
  padding: 92px 0 0 calc((100% - 984px)/2);
  max-width: 690px;
  align-self: flex-start;
}

@media screen and (max-width: 1097px) {
  .intro {
    padding: 92px 0 0 48px;
  }
}

@media screen and (max-width: 970px) {
  .intro {
    max-width: 100%;
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 700px) {
  .intro {
    padding: 64px 16px 0;
  }
}
