.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  transition: opacity .2s linear;
  color: white;
  margin: 12px 0 0;
  padding: 0;
}

.place__link:hover {
  opacity: .8;
}
